<nav class="app-navigation">

  <a class="nav-item active">
    <i class="fa-solid fa-chart-line"></i>
    <span>Panorama general</span>
  </a>

  <a class="nav-item">
    <i class="fa-solid fa-triangle-exclamation"></i>
    <span>Violencia</span>
  </a>

  <a class="nav-item">
    <i class="fa-solid fa-people-group"></i>
    <span>Agresores</span>
  </a>

  <a class="nav-item">
    <i class="fa-solid fa-school"></i>
    <span>Acoso escolar</span>
  </a>

  <a class="nav-item">
    <i class="fa-solid fa-ranking-star"></i>
    <span>Ranking</span>
  </a>

  <a class="nav-item">
    <i class="fa-solid fa-map-location-dot"></i>
    <span>Focalización territorial</span>
  </a>

  <a class="nav-item">
    <i class="fa-solid fa-chart-pie"></i>
    <span>Prevalencia</span>
  </a>

</nav>
